:root {
  --SkinColor:  rgb(225,191,146);
  --GreenColor: rgb(125,191,146);
  --DeepColor: #001219;
  --LinkColor: rgb(45,51,246);
}

@font-face {
    font-family: "customfont";
    src: url("r/roboto-regular-webfont.woff2") format("woff2"),
         url("r/roboto-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: customfont;
}

body { 
	background-color: var(--DeepColor);
	color: black;

	width: 800px;
	height: 1500px;
	margin-left: auto;
  	margin-right: auto;
}

div {
	background-color: var(--SkinColor);
}

div#index_page_content {
  	border: 3px solid black;
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 100px;
}

div#content {
  	border: 3px solid black;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 50px;
}

div#article_header {
	text-align: left;
}

.top_header {
	background-color: var(--GreenColor);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
}

.article {
	text-align: justify;	
	margin: 25px;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.martin {
	width: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.venice {
	width: 25%;
	display: block;
	margin-left: 0px;
}

a:link {
  color: var(--LinkColor);
  text-decoration: none;
}

a:visited {
  color: var(--LinkColor);
  text-decoration: none;
}

a:hover {
  color: var(--LinkColor);
  text-decoration: underline;
}

a:active {
  color: blue;
}
